

<form action="/figures" method="post">
  <label for="figure[name]">Name:</label>
  <input type="text" name="figure[name]" id="figure_name"><br></br>

  <label>Titles</label>
  <%Title.all.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>"><%=title.name%>
  <%end%><br></br>

  <label for="figure[landmark_ids][]">Landmarks:</label>
  <%Landmark.all.each do |landmark|%>
    <input type="checkbox" name="figure[landmark_ids][]" id="figure[landmark_ids][]" value="<%=landmark.id%>"><%=landmark.name%><br></br>
  <%end%>

  <label for="landmark[name]">Create a new Landmark:</label>
  <input type="text" name="landmark[name]" id="landmark[name]"><br></br>

  <label for="title[name]">Title name:</label>
  <input type="text" name="title[name]" id="title[name]"><br></br>

  <input type="submit" id="Create New Figure">
</form>
